/* Make slider height consistent */
.hero-swiper {
  width: 100%;
  height: 700px;
  position: relative;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  text-align: left;        
  padding: 0px 200px;
  position: relative;
  background-size: cover;
  background-position: center;
}


.slide-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.55); 
  z-index: 1;
}

.slide-content > * {
  position: relative;
  z-index: 2;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #4a6fa5 !important;
  opacity: 1;
}

/* Navigation arrows style like screenshot */
.swiper-button-next,
.swiper-button-prev {
  background: white;
  color: #4a6fa5;
  padding: 18px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

/* Background images */
.slide-1 {
  background-image: url("https://i.postimg.cc/cJ2QSwzb/photo-1634003311973-73877ca84d48.jpg");
}

.slide-2 {
  background-image: url("https://i.postimg.cc/1t6NZzbK/photo-1611632819596-c82fdecc0fc4.jpg");
}

.slide-3 {
  background-image: url("https://i.postimg.cc/4NspsJ8n/photo-1672437320799-640b55d48055.jpg");
}

.slide-4 {
  background-image: url("https://i.postimg.cc/VkHtqXzd/photo-1677280107253-0934f0a4cb91.jpg");
}

/* Pagination bullets */
.swiper-pagination-bullet {
  background: #ffffff !important;
}
.swiper-pagination-bullet-active {
  background: #4a6fa5 !important;
}
